<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/recipes">
      <h1 id="navbar-header">Instagrub</h1>
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <p>Welcome <%= locals.currentUser.username %></p>
    </div>
    <div class="navbar-end">
      <a href="/recipes" class="navbar-item">
        All recipes
      </a>
      <a href="/recipes/myrecipes" class="navbar-item">
        My recipes
      </a>
      <a href="/recipes/new" class="navbar-item">
        New recipe
      </a>
      <a href="/logout" class="navbar-item">
        Logout
      </a>
    </div>
  </div>
</nav>
