<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://image.flaticon.com/icons/svg/45/45552.svg" alt="recipes" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a href="/beanbags" class="navbar-item">
        All recipes
      </a>
      <a href="/beanbags/new" class="navbar-item">
        New recipe
      </a>
    </div>
  </div>
</nav>
