//general
* {
  box-sizing: border-box;
}

body {
  background: #B8D8D8;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  text-align: center;
  color: #4F6367;
}

h5 {
  font-size: 20px;
}

//navbar
.navbar {
  background-color: #4F6367;
  h1 {
    font-size: 20px;
    color: #eef5db;
  }
  .navbar-menu {
    color: #eef5db;
    a {
      color: #eef5db;
    }
  }
}

//Homepage
.links {
  text-align: center;
  .link {
    margin: 50px 20px;
    color: #FE5F55;
  }
}

//sign up


//login


//all recipes


//show recipe
#recipe-title {
  font-size: 30px;
}



//new recipe


//edit recipe

// .input {
//   height: 40px;
// }
