//general
* {
  box-sizing: border-box;
}

body {
  background: #eef5db;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  text-align: center;
  color: #4F6367;
}

h2 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

.button {
  border: solid 1px #FE5F55;
  border-radius: 10px;
  line-height: 0;
}

//Homepage
.homepage {
  .links {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 400px;
    .link {
      margin: 50px 20px;
      color: #FE5F55;
      font-weight: bold;
    }
  }
}

//sign up
#signup-button {
  margin-top: 20px;
}

//login
#login-button {
  margin-top: 20px;
}

//navbar
.navbar {
  background-color: #4F6367;
  color: #eef5db;
  .navbar-brand {
    h1 {
      font-size: 30px;
      color: #eef5db;
    }
    h1:hover {
      color: #FE5F55;
    }
    .navbar-start {
      padding-top: 20px;
      padding-left: 20px;
    }
    .navbar-burger {
      color: #eef5db;
    }
  }
  .navbar-menu {
    background-color: #4F6367;
    .navbar-item {
      color: #eef5db;
      &:hover {
        color: #FE5F55;
        background-color: #eef5db;
      }
    }
    .navbar-menu.is-active {
      color: #eef5db;
      background-color: #4F6367;
      a {
        color: #eef5db;
      }
      &:hover {
        color: #FE5F55;
        background-color: #eef5db;
      }
    }
  }
}


//index
#recipe-link {
  color: #4F6367;
  h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  &:hover {
    color: #FE5F55;
  }
  #recipe-image:hover {
    transform: scale(1.01);
  }
}

.user-link {
  color: #7A9E9F;
  &:hover {
    color: #4F6367;
  }
}

//show
#recipe-title {
  font-size: 30px;
}

#show-recipe-image {
  margin-top: 5px;
}

.recipe {
  display: flex;
  .show-ingredients {
    width: 50%;
    #ingredients-list {
      display: list-item;
      list-style-type: circle;
      text-transform: capitalize;
      margin-left: 20px;
      font-size: 15px;
    }
  }
  .show-method {
    width: 50%;
  }
}

.likes {
  margin-top: 10px;
  #like {
    font-size: 20px;
    margin-left: 10px;
  }
  #likers{
    font-size: 12px;
    margin-left: 5px;
    line-height: 0;
  }
  .like-button {
    display: block;
	  margin: 10px auto 0 0;
    background: #FE5F55;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
    .fa {
      margin-right: 5px;
    }
  }
}

.show-buttons {
  display: inline-flex;
  margin-top: 20px;
  .button{
    margin-right: 20px;
    font-size: 10px;
  }
}

.show-comments {
  margin-top: 10px;
  #comments {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
    padding: 5px 0;
    border: solid 1px #4F6367;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px auto;
    #username {
      color: #4F6367;
      font-size: 12px;
      font-weight: bold;
      padding: 0 15px;
      &:hover {
        color: #FE5F55;
      }
    }
    #comment {
      font-size: 12px;
      width: 80%;
    }
    #delete {
      color: #7A9E9F;
      font-size: 12px;
      font-weight: bold;
      border: none;
      margin-top: 0;
      &:hover {
        color: #4F6367;
      }
    }
  }
  #comment-input{
    #textarea {
    border-radius: 10px;
    border: solid 1px #4F6367;
    width: 100%;
    padding: 10px;
    }
    .button {
      margin-top: 10px;
    }
  }
}


//new recipe
#submit {
  margin-top: 10px;
}

//edit recipe
