//Homepage
h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  text-align: center;
}

.links {
  text-align: center;
  .link {
    margin: 50px 20px;
    color: red;
  }
}

//sign up


//login


//all recipes


//show recipe
#recipe-title {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

//new recipe


//edit recipe

// .input {
//   height: 40px;
// }
