* {
  box-sizing: border-box; }

body {
  background: #eef5db; }

li {
  list-style-type: none; }

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  text-align: center;
  color: #4F6367; }

h2 {
  font-size: 30px; }

h5 {
  font-size: 20px; }

.button {
  border: solid 1px #FE5F55;
  border-radius: 10px;
  line-height: 0; }

.homepage .links {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 400px; }
  .homepage .links .link {
    margin: 50px 20px;
    color: #FE5F55;
    font-weight: bold; }

#signup-button {
  margin-top: 20px; }

#login-button {
  margin-top: 20px; }

.navbar {
  background-color: #4F6367;
  color: #eef5db; }
  .navbar .navbar-brand h1 {
    font-size: 30px;
    color: #eef5db; }
  .navbar .navbar-brand h1:hover {
    color: #FE5F55; }
  .navbar .navbar-brand .navbar-start {
    padding-top: 20px;
    padding-left: 20px; }
  .navbar .navbar-brand .navbar-burger {
    color: #eef5db;
    background-color: #4F6367; }
  .navbar .navbar-menu {
    color: #eef5db; }
    .navbar .navbar-menu a {
      color: #eef5db; }
    .navbar .navbar-menu a:hover {
      color: #FE5F55;
      background-color: #eef5db; }

#recipe-link {
  color: #4F6367; }
  #recipe-link h2 {
    font-size: 16px;
    margin-bottom: 5px; }
  #recipe-link:hover {
    color: #FE5F55; }
  #recipe-link #recipe-image:hover {
    transform: scale(1.01); }

.user-link {
  color: #7A9E9F; }
  .user-link:hover {
    color: #4F6367; }

#recipe-title {
  font-size: 30px; }

.recipe {
  display: flex; }
  .recipe .show-ingredients {
    width: 50%; }
    .recipe .show-ingredients #ingredients-list {
      display: list-item;
      list-style-type: circle;
      text-transform: capitalize;
      margin-left: 20px;
      font-size: 15px; }
  .recipe .show-method {
    width: 50%; }

.likes {
  margin-top: 10px; }
  .likes #like {
    font-size: 20px;
    margin-left: 10px; }
  .likes #likers {
    font-size: 12px;
    margin-left: 5px;
    line-height: 0; }
  .likes .like-button {
    display: block;
    margin: 10px auto 0 0;
    background: #FE5F55;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    .likes .like-button:hover {
      transform: scale(1.1); }
    .likes .like-button .fa {
      margin-right: 5px; }

.show-buttons {
  display: inline-flex;
  margin-top: 20px; }
  .show-buttons .button {
    margin-right: 20px;
    font-size: 10px; }

.show-comments {
  margin-top: 10px; }
  .show-comments #comments {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
    padding: 5px 0;
    border: solid 1px #4F6367;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px auto; }
    .show-comments #comments #username {
      color: #4F6367;
      font-size: 12px;
      font-weight: bold;
      padding: 0 15px; }
      .show-comments #comments #username:hover {
        color: #FE5F55; }
    .show-comments #comments #comment {
      font-size: 12px;
      width: 80%; }
    .show-comments #comments #delete {
      color: #7A9E9F;
      font-size: 12px;
      font-weight: bold;
      border: none;
      margin-top: 0; }
      .show-comments #comments #delete:hover {
        color: #4F6367; }
  .show-comments #comment-input #textarea {
    border-radius: 10px;
    border: solid 1px #4F6367;
    width: 100%;
    padding: 10px; }
  .show-comments #comment-input .button {
    margin-top: 10px; }

#submit {
  margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
